In [4]:
import pandas as pd 
import numpy as np 

univ = ['SPY','TLT','VXX','QQQ']
dates = ['20210105','20210106','20210107','20210108','20210109']

In [5]:
earnings = pd.DataFrame(np.random.randn(5,4), index=dates,columns=univ)
ret_prev = pd.DataFrame(np.random.randn(5,4), index=dates,columns=univ)
pe = pd.DataFrame( np.random.randn(5,4), index=dates,columns=univ)
analyst_est = pd.DataFrame( np.random.randn(5,4), index=dates,columns=univ)

In [6]:
pe

               SPY       TLT       VXX       QQQ
20210105 -0.992508  0.554907 -1.664013 -0.665245
20210106  0.210262  0.801404 -0.298424 -0.819982
20210107  0.542980  0.591844 -1.804095  0.533432
20210108 -1.275816  1.714543  0.545356 -0.280400
20210109 -0.024072  1.918000  0.731680 -1.385132

In [8]:
data = {}
data['earnings']=earnings
data['ret_prev']=ret_prev
data['pe']=pe
data['analyst_est']=analyst_est

In [10]:
pd.concat?

Signature:
pd.concat(
    objs: 'Iterable[Series | DataFrame] | Mapping[HashableT, Series | DataFrame]',
    *,
    axis: 'Axis' = 0,
    join: 'str' = 'outer',
    ignore_index: 'bool' = False,
    keys: 'Iterable[Hashable] | None' = None,
    levels=None,
    names: 'list[HashableT] | None' = None,
    verify_integrity: 'bool' = False,
    sort: 'bool' = False,
    copy: 'bool | None' = None,
) -> 'DataFrame | Series'
Docstring:
Concatenate pandas objects along a particular axis.

Allows optional set logic along the other axes.

Can also add a layer of hierarchical indexing on the concatenation axis,
which may be useful if the labels are the same (or overlapping) on
the passed axis number.

Parameters
----------
objs : a sequence or mapping of Series or DataFrame objects
    If a mapping is passed, the sorted keys will be used as the `keys`
    argument, unless it is passed, in which case the values will be
    selected (see below). Any None objects will be dropped silently unless
    they are all None in which case a ValueError will be raised.
axis : {0/'index', 1/'columns'}, default 0
    The axis to concatenate along.
join : {'inner', 'outer'}, default 'outer'
    How to handle indexes on other axis (or axes).
ignore_index : bool, default False
    If True, do not use the index values along the concatenation axis. The
    resulting axis will be labeled 0, ..., n - 1. This is useful if you are
    concatenating objects where the concatenation axis does not have
    meaningful indexing information. Note the index values on the other
    axes are still respected in the join.
keys : sequence, default None
    If multiple levels passed, should contain tuples. Construct
    hierarchical index using the passed keys as the outermost level.
levels : list of sequences, default None
    Specific levels (unique values) to use for constructing a
    MultiIndex. Otherwise they will be inferred from the keys.
names : list, default None
    Names for the levels in the resulting hierarchical index.
verify_integrity : bool, default False
    Check whether the new concatenated axis contains duplicates. This can
    be very expensive relative to the actual data concatenation.
sort : bool, default False
    Sort non-concatenation axis if it is not already aligned. One exception to
    this is when the non-concatentation axis is a DatetimeIndex and join='outer'
    and the axis is not already aligned. In that case, the non-concatenation
    axis is always sorted lexicographically.
copy : bool, default True
    If False, do not copy data unnecessarily.

Returns
-------
object, type of objs
    When concatenating all ``Series`` along the index (axis=0), a
    ``Series`` is returned. When ``objs`` contains at least one
    ``DataFrame``, a ``DataFrame`` is returned. When concatenating along
    the columns (axis=1), a ``DataFrame`` is returned.

See Also
--------
DataFrame.join : Join DataFrames using indexes.
DataFrame.merge : Merge DataFrames by indexes or columns.

Notes
-----
The keys, levels, and names arguments are all optional.

A walkthrough of how this method fits in with other tools for combining
pandas objects can be found `here
<https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html>`__.

It is not recommended to build DataFrames by adding single rows in a
for loop. Build a list of rows and make a DataFrame in a single concat.

Examples
--------
Combine two ``Series``.

>>> s1 = pd.Series(['a', 'b'])
>>> s2 = pd.Series(['c', 'd'])
>>> pd.concat([s1, s2])
0    a
1    b
0    c
1    d
dtype: object

Clear the existing index and reset it in the result
by setting the ``ignore_index`` option to ``True``.

>>> pd.concat([s1, s2], ignore_index=True)
0    a
1    b
2    c
3    d
dtype: object

Add a hierarchical index at the outermost level of
the data with the ``keys`` option.

>>> pd.concat([s1, s2], keys=['s1', 's2'])
s1  0    a
    1    b
s2  0    c
    1    d
dtype: object

Label the index keys you create with the ``names`` option.

>>> pd.concat([s1, s2], keys=['s1', 's2'],
...           names=['Series name', 'Row ID'])
Series name  Row ID
s1           0         a
             1         b
s2           0         c
             1         d
dtype: object

Combine two ``DataFrame`` objects with identical columns.

>>> df1 = pd.DataFrame([['a', 1], ['b', 2]],
...                    columns=['letter', 'number'])
>>> df1
  letter  number
0      a       1
1      b       2
>>> df2 = pd.DataFrame([['c', 3], ['d', 4]],
...                    columns=['letter', 'number'])
>>> df2
  letter  number
0      c       3
1      d       4
>>> pd.concat([df1, df2])
  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

Combine ``DataFrame`` objects with overlapping columns
and return everything. Columns outside the intersection will
be filled with ``NaN`` values.

>>> df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],
...                    columns=['letter', 'number', 'animal'])
>>> df3
  letter  number animal
0      c       3    cat
1      d       4    dog
>>> pd.concat([df1, df3], sort=False)
  letter  number animal
0      a       1    NaN
1      b       2    NaN
0      c       3    cat
1      d       4    dog

Combine ``DataFrame`` objects with overlapping columns
and return only those that are shared by passing ``inner`` to
the ``join`` keyword argument.

>>> pd.concat([df1, df3], join="inner")
  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

Combine ``DataFrame`` objects horizontally along the x axis by
passing in ``axis=1``.

>>> df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']],
...                    columns=['animal', 'name'])
>>> pd.concat([df1, df4], axis=1)
  letter  number  animal    name
0      a       1    bird   polly
1      b       2  monkey  george

Prevent the result from including duplicate index values with the
``verify_integrity`` option.

>>> df5 = pd.DataFrame([1], index=['a'])
>>> df5
   0
a  1
>>> df6 = pd.DataFrame([2], index=['a'])
>>> df6
   0
a  2
>>> pd.concat([df5, df6], verify_integrity=True)
Traceback (most recent call last):
    ...
ValueError: Indexes have overlapping values: ['a']

Append a single row to the end of a ``DataFrame`` object.

>>> df7 = pd.DataFrame({'a': 1, 'b': 2}, index=[0])
>>> df7
    a   b
0   1   2
>>> new_row = pd.Series({'a': 3, 'b': 4})
>>> new_row
a    3
b    4
dtype: int64
>>> pd.concat([df7, new_row.to_frame().T], ignore_index=True)
    a   b
0   1   2
1   3   4
File:      /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/pandas/core/reshape/concat.py
Type:      function

In [9]:
multi = pd.concat(data)
multi

                           SPY       TLT       VXX       QQQ
earnings    20210105  0.676336  0.416233  0.466627  1.576467
            20210106 -0.853371  0.871955  0.176571  0.550102
            20210107  0.431952  0.154827 -0.249044  0.872730
            20210108 -0.452532 -0.189416  0.688576 -0.993090
            20210109 -0.141845  0.110064 -1.286535 -1.719177
ret_prev    20210105 -0.413680  0.292521 -0.463250  1.994232
            20210106  1.945785 -0.183690  0.062820 -0.344660
            20210107  0.787703 -0.285953 -0.111938  0.772722
            20210108  0.218753 -1.644259  0.547318 -1.344339
            20210109  0.474211 -0.322099  1.528953 -0.071803
pe          20210105 -0.992508  0.554907 -1.664013 -0.665245
            20210106  0.210262  0.801404 -0.298424 -0.819982
            20210107  0.542980  0.591844 -1.804095  0.533432
            20210108 -1.275816  1.714543  0.545356 -0.280400
            20210109 -0.024072  1.918000  0.731680 -1.385132
analyst_est 20210105 -1.103874  0.300010 -0.694648  1.242078
            20210106 -0.235993 -0.732176  0.993333  0.179355
            20210107  1.111178 -0.047599 -0.689346 -1.817110
            20210108 -0.708724 -0.225771  2.473368  1.421766
            20210109  0.570316 -0.487062  0.130895 -0.441554

In [12]:
multi.loc?

Type:        property
String form: <property object at 0x107b8dc10>
Docstring:
Access a group of rows and columns by label(s) or a boolean array.

``.loc[]`` is primarily label based, but may also be used with a
boolean array.

Allowed inputs are:

- A single label, e.g. ``5`` or ``'a'``, (note that ``5`` is
  interpreted as a *label* of the index, and **never** as an
  integer position along the index).
- A list or array of labels, e.g. ``['a', 'b', 'c']``.
- A slice object with labels, e.g. ``'a':'f'``.

  .. warning:: Note that contrary to usual python slices, **both** the
      start and the stop are included

- A boolean array of the same length as the axis being sliced,
  e.g. ``[True, False, True]``.
- An alignable boolean Series. The index of the key will be aligned before
  masking.
- An alignable Index. The Index of the returned selection will be the input.
- A ``callable`` function with one argument (the calling Series or
  DataFrame) and that returns valid output for indexing (one of the above)

See more at :ref:`Selection by Label <indexing.label>`.

Raises
------
KeyError
    If any items are not found.
IndexingError
    If an indexed key is passed and its index is unalignable to the frame index.

See Also
--------
DataFrame.at : Access a single value for a row/column label pair.
DataFrame.iloc : Access group of rows and columns by integer position(s).
DataFrame.xs : Returns a cross-section (row(s) or column(s)) from the
               Series/DataFrame.
Series.loc : Access group of values using labels.

Examples
--------
**Getting values**

>>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
...                   index=['cobra', 'viper', 'sidewinder'],
...                   columns=['max_speed', 'shield'])
>>> df
            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

Single label. Note this returns the row as a Series.

>>> df.loc['viper']
max_speed    4
shield       5
Name: viper, dtype: int64

List of labels. Note using ``[[]]`` returns a DataFrame.

>>> df.loc[['viper', 'sidewinder']]
            max_speed  shield
viper               4       5
sidewinder          7       8

Single label for row and column

>>> df.loc['cobra', 'shield']
2

Slice with labels for row and single label for column. As mentioned
above, note that both the start and stop of the slice are included.

>>> df.loc['cobra':'viper', 'max_speed']
cobra    1
viper    4
Name: max_speed, dtype: int64

Boolean list with the same length as the row axis

>>> df.loc[[False, False, True]]
            max_speed  shield
sidewinder          7       8

Alignable boolean Series:

>>> df.loc[pd.Series([False, True, False],
...                  index=['viper', 'sidewinder', 'cobra'])]
                     max_speed  shield
sidewinder          7       8

Index (same behavior as ``df.reindex``)

>>> df.loc[pd.Index(["cobra", "viper"], name="foo")]
       max_speed  shield
foo
cobra          1       2
viper          4       5

Conditional that returns a boolean Series

>>> df.loc[df['shield'] > 6]
            max_speed  shield
sidewinder          7       8

Conditional that returns a boolean Series with column labels specified

>>> df.loc[df['shield'] > 6, ['max_speed']]
            max_speed
sidewinder          7

Multiple conditional using ``&`` that returns a boolean Series

>>> df.loc[(df['max_speed'] > 1) & (df['shield'] < 8)]
            max_speed  shield
viper          4       5

Multiple conditional using ``|`` that returns a boolean Series

>>> df.loc[(df['max_speed'] > 4) | (df['shield'] < 5)]
            max_speed  shield
cobra               1       2
sidewinder          7       8

Please ensure that each condition is wrapped in parentheses ``()``.
See the :ref:`user guide<indexing.boolean>`
for more details and explanations of Boolean indexing.

.. note::
    If you find yourself using 3 or more conditionals in ``.loc[]``,
    consider using :ref:`advanced indexing<advanced.advanced_hierarchical>`.

    See below for using ``.loc[]`` on MultiIndex DataFrames.

Callable that returns a boolean Series

>>> df.loc[lambda df: df['shield'] == 8]
            max_speed  shield
sidewinder          7       8

**Setting values**

Set value for all items matching the list of labels

>>> df.loc[['viper', 'sidewinder'], ['shield']] = 50
>>> df
            max_speed  shield
cobra               1       2
viper               4      50
sidewinder          7      50

Set value for an entire row

>>> df.loc['cobra'] = 10
>>> df
            max_speed  shield
cobra              10      10
viper               4      50
sidewinder          7      50

Set value for an entire column

>>> df.loc[:, 'max_speed'] = 30
>>> df
            max_speed  shield
cobra              30      10
viper              30      50
sidewinder         30      50

Set value for rows matching callable condition

>>> df.loc[df['shield'] > 35] = 0
>>> df
            max_speed  shield
cobra              30      10
viper               0       0
sidewinder          0       0

Add value matching location

>>> df.loc["viper", "shield"] += 5
>>> df
            max_speed  shield
cobra              30      10
viper               0       5
sidewinder          0       0

Setting using a ``Series`` or a ``DataFrame`` sets the values matching the
index labels, not the index positions.

>>> shuffled_df = df.loc[["viper", "cobra", "sidewinder"]]
>>> df.loc[:] += shuffled_df
>>> df
            max_speed  shield
cobra              60      20
viper               0      10
sidewinder          0       0

**Getting values on a DataFrame with an index that has integer labels**

Another example using integers for the index

>>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
...                   index=[7, 8, 9], columns=['max_speed', 'shield'])
>>> df
   max_speed  shield
7          1       2
8          4       5
9          7       8

Slice with integer labels for rows. As mentioned above, note that both
the start and stop of the slice are included.

>>> df.loc[7:9]
   max_speed  shield
7          1       2
8          4       5
9          7       8

**Getting values with a MultiIndex**

A number of examples using a DataFrame with a MultiIndex

>>> tuples = [
...     ('cobra', 'mark i'), ('cobra', 'mark ii'),
...     ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
...     ('viper', 'mark ii'), ('viper', 'mark iii')
... ]
>>> index = pd.MultiIndex.from_tuples(tuples)
>>> values = [[12, 2], [0, 4], [10, 20],
...           [1, 4], [7, 1], [16, 36]]
>>> df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
>>> df
                     max_speed  shield
cobra      mark i           12       2
           mark ii           0       4
sidewinder mark i           10      20
           mark ii           1       4
viper      mark ii           7       1
           mark iii         16      36

Single label. Note this returns a DataFrame with a single index.

>>> df.loc['cobra']
         max_speed  shield
mark i          12       2
mark ii          0       4

Single index tuple. Note this returns a Series.

>>> df.loc[('cobra', 'mark ii')]
max_speed    0
shield       4
Name: (cobra, mark ii), dtype: int64

Single label for row and column. Similar to passing in a tuple, this
returns a Series.

>>> df.loc['cobra', 'mark i']
max_speed    12
shield        2
Name: (cobra, mark i), dtype: int64

Single tuple. Note using ``[[]]`` returns a DataFrame.

>>> df.loc[[('cobra', 'mark ii')]]
               max_speed  shield
cobra mark ii          0       4

Single tuple for the index with a single label for the column

>>> df.loc[('cobra', 'mark i'), 'shield']
2

Slice from index tuple to single label

>>> df.loc[('cobra', 'mark i'):'viper']
                     max_speed  shield
cobra      mark i           12       2
           mark ii           0       4
sidewinder mark i           10      20
           mark ii           1       4
viper      mark ii           7       1
           mark iii         16      36

Slice from index tuple to index tuple

>>> df.loc[('cobra', 'mark i'):('viper', 'mark ii')]
                    max_speed  shield
cobra      mark i          12       2
           mark ii          0       4
sidewinder mark i          10      20
           mark ii          1       4
viper      mark ii          7       1

Please see the :ref:`user guide<advanced.advanced_hierarchical>`
for more details and explanations of advanced indexing.

In [13]:
multi.loc['pe']

               SPY       TLT       VXX       QQQ
20210105 -0.992508  0.554907 -1.664013 -0.665245
20210106  0.210262  0.801404 -0.298424 -0.819982
20210107  0.542980  0.591844 -1.804095  0.533432
20210108 -1.275816  1.714543  0.545356 -0.280400
20210109 -0.024072  1.918000  0.731680 -1.385132

In [14]:
multi.loc['ret_prev':'analyst_est']

                           SPY       TLT       VXX       QQQ
ret_prev    20210105 -0.413680  0.292521 -0.463250  1.994232
            20210106  1.945785 -0.183690  0.062820 -0.344660
            20210107  0.787703 -0.285953 -0.111938  0.772722
            20210108  0.218753 -1.644259  0.547318 -1.344339
            20210109  0.474211 -0.322099  1.528953 -0.071803
pe          20210105 -0.992508  0.554907 -1.664013 -0.665245
            20210106  0.210262  0.801404 -0.298424 -0.819982
            20210107  0.542980  0.591844 -1.804095  0.533432
            20210108 -1.275816  1.714543  0.545356 -0.280400
            20210109 -0.024072  1.918000  0.731680 -1.385132
analyst_est 20210105 -1.103874  0.300010 -0.694648  1.242078
            20210106 -0.235993 -0.732176  0.993333  0.179355
            20210107  1.111178 -0.047599 -0.689346 -1.817110
            20210108 -0.708724 -0.225771  2.473368  1.421766
            20210109  0.570316 -0.487062  0.130895 -0.441554

In [15]:
multi.loc[('ret_prev','20210107'),['SPY','TLT']]

SPY    0.787703
TLT   -0.285953
Name: (ret_prev, 20210107), dtype: float64

In [21]:
ser = multi['SPY']
ser

earnings     20210105    0.676336
             20210106   -0.853371
             20210107    0.431952
             20210108   -0.452532
             20210109   -0.141845
ret_prev     20210105   -0.413680
             20210106    1.945785
             20210107    0.787703
             20210108    0.218753
             20210109    0.474211
pe           20210105   -0.992508
             20210106    0.210262
             20210107    0.542980
             20210108   -1.275816
             20210109   -0.024072
analyst_est  20210105   -1.103874
             20210106   -0.235993
             20210107    1.111178
             20210108   -0.708724
             20210109    0.570316
Name: SPY, dtype: float64

In [22]:
ser['pe']

20210105   -0.992508
20210106    0.210262
20210107    0.542980
20210108   -1.275816
20210109   -0.024072
Name: SPY, dtype: float64

In [23]:
# unstack a multindex series into a dataframe
ser.unstack(level=0)

          earnings  ret_prev        pe  analyst_est
20210105  0.676336 -0.413680 -0.992508    -1.103874
20210106 -0.853371  1.945785  0.210262    -0.235993
20210107  0.431952  0.787703  0.542980     1.111178
20210108 -0.452532  0.218753 -1.275816    -0.708724
20210109 -0.141845  0.474211 -0.024072     0.570316

In [12]:
ser.unstack(level=0).stack()

20210105  earnings       0.027917
          ret_prev       0.417888
          pe             0.360900
          analyst_est    0.853645
20210106  earnings      -2.508643
          ret_prev       1.204926
          pe            -0.413056
          analyst_est   -0.389263
20210107  earnings       0.776489
          ret_prev      -1.569208
          pe             0.240933
          analyst_est   -0.457811
20210108  earnings       0.282424
          ret_prev       0.370359
          pe            -2.448689
          analyst_est   -1.531211
20210109  earnings      -0.826999
          ret_prev       0.211030
          pe             1.407146
          analyst_est   -0.449169
dtype: float64

In [13]:
multi = pd.concat(data,1)

In [14]:
multi

          earnings                                ret_prev            \
               SPY       TLT       VXX       QQQ       SPY       TLT
20210105  0.027917  0.997937 -0.813769  1.427540  0.417888  1.398934
20210106 -2.508643 -0.955644  0.148005  1.389984  1.204926  0.362746
20210107  0.776489 -0.217345 -0.798040  0.133415 -1.569208  0.141109
20210108  0.282424 -0.884986  0.046271  0.145123  0.370359  1.688694
20210109 -0.826999  0.566471  2.485849  0.204731  0.211030 -0.630121

                                    pe                                \
               VXX       QQQ       SPY       TLT       VXX       QQQ
20210105 -0.443163  1.199215  0.360900  1.245730 -0.457611  0.100197
20210106 -1.818578  0.197606 -0.413056 -0.161820 -0.187747  0.140069
20210107 -0.195729  1.945500  0.240933  0.195412  1.095961 -0.224336
20210108  1.257109  0.543659 -2.448689 -1.464831  1.182993 -0.713982
20210109  0.152533  0.697834  1.407146 -0.072162 -0.078432 -0.667566

         analyst_est
                 SPY       TLT       VXX       QQQ
20210105    0.853645 -0.327806 -0.849994 -0.901581
20210106   -0.389263 -0.252517  0.722480  0.334567
20210107   -0.457811  0.846454 -1.187873 -1.526764
20210108   -1.531211 -0.984030 -0.749255  1.768825
20210109   -0.449169 -1.935268  0.120385 -0.003290

In [15]:
# indexing
multi['pe']

               SPY       TLT       VXX       QQQ
20210105  0.360900  1.245730 -0.457611  0.100197
20210106 -0.413056 -0.161820 -0.187747  0.140069
20210107  0.240933  0.195412  1.095961 -0.224336
20210108 -2.448689 -1.464831  1.182993 -0.713982
20210109  1.407146 -0.072162 -0.078432 -0.667566

In [16]:
multi[['pe','earnings']]

                pe                                earnings            \
               SPY       TLT       VXX       QQQ       SPY       TLT
20210105  0.360900  1.245730 -0.457611  0.100197  0.027917  0.997937
20210106 -0.413056 -0.161820 -0.187747  0.140069 -2.508643 -0.955644
20210107  0.240933  0.195412  1.095961 -0.224336  0.776489 -0.217345
20210108 -2.448689 -1.464831  1.182993 -0.713982  0.282424 -0.884986
20210109  1.407146 -0.072162 -0.078432 -0.667566 -0.826999  0.566471


               VXX       QQQ
20210105 -0.813769  1.427540
20210106  0.148005  1.389984
20210107 -0.798040  0.133415
20210108  0.046271  0.145123
20210109  2.485849  0.204731

In [17]:
# rearrange axes
multi.swaplevel(0,1,1)

,SPY,TLT,VXX,QQQ,SPY,TLT,VXX,QQQ,SPY,TLT,VXX,QQQ,SPY,TLT,VXX,QQQ
,earnings,earnings,earnings,earnings,ret_prev,ret_prev,ret_prev,ret_prev,pe,pe,pe,pe,analyst_est,analyst_est,analyst_est,analyst_est
20210105,0.027917,0.997937,-0.813769,1.427540,0.417888,1.398934,-0.443163,1.199215,0.360900,1.245730,-0.457611,0.100197,0.853645,-0.327806,-0.849994,-0.901581
20210106,-2.508643,-0.955644,0.148005,1.389984,1.204926,0.362746,-1.818578,0.197606,-0.413056,-0.161820,-0.187747,0.140069,-0.389263,-0.252517,0.722480,0.334567
20210107,0.776489,-0.217345,-0.798040,0.133415,-1.569208,0.141109,-0.195729,1.945500,0.240933,0.195412,1.095961,-0.224336,-0.457811,0.846454,-1.187873,-1.526764
20210108,0.282424,-0.884986,0.046271,0.145123,0.370359,1.688694,1.257109,0.543659,-2.448689,-1.464831,1.182993,-0.713982,-1.531211,-0.984030,-0.749255,1.768825
20210109,-0.826999,0.566471,2.485849,0.204731,0.211030,-0.630121,0.152533,0.697834,1.407146,-0.072162,-0.078432,-0.667566,-0.449169,-1.935268,0.120385,-0.003290

In [18]:
multi.swaplevel(0,1,1).sort_index(1)

                 QQQ                                       SPY            \
         analyst_est  earnings        pe  ret_prev analyst_est  earnings
20210105   -0.901581  1.427540  0.100197  1.199215    0.853645  0.027917
20210106    0.334567  1.389984  0.140069  0.197606   -0.389263 -2.508643
20210107   -1.526764  0.133415 -0.224336  1.945500   -0.457811  0.776489
20210108    1.768825  0.145123 -0.713982  0.543659   -1.531211  0.282424
20210109   -0.003290  0.204731 -0.667566  0.697834   -0.449169 -0.826999

                                     TLT                                \
                pe  ret_prev analyst_est  earnings        pe  ret_prev
20210105  0.360900  0.417888   -0.327806  0.997937  1.245730  1.398934
20210106 -0.413056  1.204926   -0.252517 -0.955644 -0.161820  0.362746
20210107  0.240933 -1.569208    0.846454 -0.217345  0.195412  0.141109
20210108 -2.448689  0.370359   -0.984030 -0.884986 -1.464831  1.688694
20210109  1.407146  0.211030   -1.935268  0.566471 -0.072162 -0.630121

                 VXX
         analyst_est  earnings        pe  ret_prev
20210105   -0.849994 -0.813769 -0.457611 -0.443163
20210106    0.722480  0.148005 -0.187747 -1.818578
20210107   -1.187873 -0.798040  1.095961 -0.195729
20210108   -0.749255  0.046271  1.182993  1.257109
20210109    0.120385  2.485849 -0.078432  0.152533

In [19]:
# sum across an axis
multi.sum(axis=1,level=0)

          earnings  ret_prev        pe  analyst_est
20210105  1.639625  2.572874  1.249216    -1.225737
20210106 -1.926297 -0.053300 -0.622554     0.415266
20210107 -0.105480  0.321673  1.307971    -2.325994
20210108 -0.411167  3.859821 -3.444509    -1.495671
20210109  2.430052  0.431277  0.588986    -2.267342

In [20]:
# standard pandas functions produce multi-index series
multi.mean()

earnings     SPY   -0.449762
             TLT   -0.098713
             VXX    0.213663
             QQQ    0.660159
ret_prev     SPY    0.126999
             TLT    0.592273
             VXX   -0.209566
             QQQ    0.916763
pe           SPY   -0.170553
             TLT   -0.051534
             VXX    0.311033
             QQQ   -0.273124
analyst_est  SPY   -0.394762
             TLT   -0.530634
             VXX   -0.388851
             QQQ   -0.065649
dtype: float64

In [21]:
multi.mean().unstack(level=1)

                  SPY       TLT       VXX       QQQ
earnings    -0.449762 -0.098713  0.213663  0.660159
ret_prev     0.126999  0.592273 -0.209566  0.916763
pe          -0.170553 -0.051534  0.311033 -0.273124
analyst_est -0.394762 -0.530634 -0.388851 -0.065649